.mosquito1{
    height: 50px;
    width: 50px;
}

.mosquito2{
    height: 75px;
    width: 75px;
}

.mosquito3{
    height: 90px;
    width: 90px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}
