* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    color: #f5f5f5;
    
}

.apresentacao{
    text-align: center;
}

#principal {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

#principal input{
    padding: 3px;
    border-radius: 7px;
    border: 1px solid black;
}

#principal #env {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

#principal #env:hover {
    transition-duration: .2s;
    cursor :url('mao_20x20.png') 0 0 , pointer;
    padding: 12px;
    box-shadow: 2px 2px rgba(250, 249, 249, 0.582);
}