* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    color: #EDF1FE;
    
}

.apresentacao{
    text-align: center;
    margin: 25px 10px;
    font-weight: bolder;
}

#principal {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

.title{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

#principal input{
    padding: 3px;
    border-radius: 7px;
    border: 1px solid black;
}

#principal #env {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(182, 182, 182, 0.267);
}

#principal #env:hover {
    transition-duration: .2s;
    cursor :url('mao_20x20.png') 0 0 , pointer;
    padding: 12px;
    box-shadow: 1px 1px rgba(250, 249, 249, 0.582);
}

input[type="submit"]{
    background-image: linear-gradient(90deg, rgb(137, 143, 121),rgb(72, 75, 53));
    color: #EDF1FE;
    font-weight: bold;
}